@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
}

ul{
  list-style: none;
}

.btn{
  padding: 4px 8px;
  border-radius: 4px;
  transition-duration: 200ms;
}
.btn:hover{
  transform: scale(1.025);
}
.btn:active{
  transform: scale(0.9);
}

.root-container{
  width: 1140px;
  margin: 0 auto;
}
::selection{
  background-color: yellow;
  color:#000;
}

.center-mobile-element{
  margin: 0;
}
@media (min-width: 768px) and (max-width:1023px) {
  .root-container{
    width: 700px;
  
  }
  .center-mobile-element
  {
    margin-top: 40px;
  }
}
@media (min-width: 640px) and (max-width:767px) {
  .root-container{
    width: 600px;
  
  }
  .center-mobile-element
  {
    margin-top: 40px;
  }
}

@media (max-width: 639px) {
  .root-container{
    width: 90%;
  
  }
  .center-mobile-element
  {
    margin-top: 40px;
  }
}